<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Side to Side</title>
  <link rel="stylesheet" href="sideside.css">
</head>
<body>
  <form action="#" class="styled-form side-by-side">
    <fieldset>
      <dl>
        <dt><label for="text_field">Input Field</label></dt>
        <dd><input type="text" id="text_field" name="text_field" /></dd>

        <dt><label for="another_field">Another Field</label></dt>
        <dd><input type="text" id="another_field" name="another_field" /></dd>
      </dl>
    </fieldset>
  </form>
</body>
</html>
